<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>

<head>
    <h1>Web Activity Planner</h1>
</head>

<body>

<ul>
    <li><a href="/" target="_self">Home</a></li>
    <li><a href="/agenda" target="_self">Agenda</a></li>
    <li><a href="about.html" target="_self">About Us</a></li>
    <li style="float:right"><a class="active" href"signin">Sign-in</a></li>
    <li style="float:right"><a class="active" href"register">Register</a></li>
</ul>

</body>